.navbar-brand {
    color: #507642 !important;
    font-size: 26px;
    font-weight: 700;
    font-family: Apple Chancery, cursive;
}

.brand-number{
    color: #507642 !important;
    font-size: 30px;
    font-weight: 800;
}

.navbar{
    background-color:#F3F4EC !important;
    color: #507642 !important;
    padding-inline-end: 45px !important;
}

.nav-link, .navbar-light .navbar-nav .nav-link {
    color: #507642 !important;
}

.float-right{
    float:right;
}

.caret {
    display: none;
    }

.dropdown-toggle.btn.btn-secondary::before,
.dropdown-toggle.nav-link::after{
    display: none;
}



footer {
    /* position:absolute; */
    left:0;
    bottom:0;
    right:0;
    background: #507642;
    color: #CCCFBC !important;
    padding: 30px;
}
footer a, footer p{
    color: #CCCFBC !important;
}


.cirlce {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #CCCFBC;
    font-size: 8px;
    border-radius: 50%;
    background: #507642;
    display: inline-block;

}

.review{
    background-color: #CCCFBC;
    color: #507642;
    height: 200px;
   
}


