.product-container{
    border:1px solid #507642;
    padding: 10px;
    margin-left: 0px !important;
    
}

.product-container .row{
    padding: 10px;
}


.product-card{
    text-align: center;
}

.product-price{
    font-weight: 700;
}

.product-price-discount{
    padding-right: 10px;
    font-size: small;
    text-decoration: line-through;
    opacity: 0.6;
}

.item {
    position:relative;
    display:inline-block;
}


.badge-big{
    font-size:24px !important;
}
.notify-badge{
    position: absolute;
    left:-5px;
    top:-5px;
    background:rgb(189, 7, 7);
    text-align: center;
    border-radius: 50%;
    color:white;
    padding:5px 10px;
    font-size:15px;
}

.pagination{
 padding-top: 60px;
}

.in-stock{
    background-color: lightgreen;
}

.out-stock{
    background-color: lightsalmon;
}

#product-section{
    margin-top:50px;
}

footer{
    margin-top:50px !important;
}

