.ingredient-container{
    border:1px solid #507642;
    padding: 10px;
    margin-left: 0px !important;
    
}

.ingredient-container .row{
    padding: 10px;
}


.ingredient-card{
    text-align: center;
}

.ingredient-price{
    font-weight: 700;
}

.ingredient-price-discount{
    padding-right: 10px;
    font-size: small;
    text-decoration: line-through;
    opacity: 0.6;
}

.item {
    position:relative;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    left:-5px;
    top:-5px;
    background:rgb(189, 7, 7);
    text-align: center;
    border-radius: 50%;
    color:white;
    padding:5px 10px;
    font-size:15px;
}

.pagination{
 padding-top: 60px;
}
