body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-brand {
  color: #507642 !important;
  font-size: 26px;
  font-weight: 700;
  font-family: Apple Chancery, cursive;
}

.brand-number{
  color: #507642 !important;
  font-size: 30px;
  font-weight: 800;
}

.navbar{
  background-color:#F3F4EC !important;
  color: #507642 !important;
  padding-inline-end: 75px !important;
}
.appbar{
  border-bottom: 1px solid lightgray;
}

.nav-link, .navbar-light .navbar-nav .nav-link, .dropdown-item ,.dropdown-menu:active{
  color: #507642 !important;
}
.dropdown-menu{
  background-color:#F3F4EC !important;
}
.dropdown-menu a:active{
  background-color:#CCCFBC !important;
}

.cirlce {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #CCCFBC;
  font-size: 12px;
  border-radius: 50%;
  background: #507642;
  display: inline-block;

}

.btn-submit, .react-bootstrap-table-pagination .pagination .page-item.active .page-link{
  background-color: #507642 !important;
  border-color: #507642 !important;
  color: #CCCFBC !important;
  
}
.btn-submit:hover{
  background-color:#CCCFBC !important;
  color: #507642 !important;
}

.float-right{
  float:right;
}

.caret {
  display: none;
  }

  .dropdown-toggle.btn.btn-secondary::before,
  .dropdown-toggle.nav-link::after{
      display: none;
  }

footer {
  
  left:0;
  bottom:0;
  right:0;
  background: #DCDCDC	;
 
 
}
footer a, footer p{
  color: black !important;
}

/* modal */
.modal-content{
  background-color: #F3F4EC !important;
  
}
.modal-header{
  color: #507642;
}


.review{
  background:url('https://www.pharma4all.gr/images/detailed/3/farmakeio-menu.png') top right;
  color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: 50% 100%; 
   /* float: right; */
  height: 300px;
  text-align: center;
  font-size: 20px;
 
}

.online-medicine{
  background-image:url('https://www.pharmacytomydoor.co.uk/pub/media/wysiwyg/Why_people_prefer_ordering_their_repeat_prescriptions_online.jpg');
  background-repeat: no-repeat;
  min-height: 600px;
  min-width:300px;
  background-size: 100% 100%; 
  margin-bottom: 40px!important;
}

.carousel-caption{
  color: #507642 !important;
}

.react-bs-table-sizePerPage-dropdown{
  position: relative !important;
}


.cart-container{
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: 530px;
}
.card-container{
  box-shadow:20px 20px 50px 10px  rgb(59, 59, 55);  
  border-radius: 20px;
}

.underconstruction{
  height: 400px;
  width: auto;
  /* background-image: url('https://www.405.co.za/images/under-construction.png'); */
  background-repeat: no-repeat;
 background-attachment: fixed;
  background-size: 100% 100%; 
}

.card-container h3{
  margin-top: 20px;
}

.payment-col{
  margin-left: 0px !important;
}

.payment-header{
  margin-bottom: 35px;
}
.btn-previous{
  margin:7px !important;
}

.form-check-label{
  color:black !important;
}

body{
  overflow-x: auto !important;
  /* text-overflow: ellipsis; */
/* white-space: nowrap; */

}

.button-carousel{
  position: absolute;
  bottom:4px;
  right: 30%;
}

.buttonCard {
	position: absolute;
	bottom: 10px;
	right: 35%;
}

.MuiBox-root-12{
  border-bottom: 10px !important;
}
